<div class="content">
  <div class="row" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="80px">
    <!-- Columna 1: Logo y título -->
    <div class="col-4">

    </div>

    <!-- Columna 2: Botones -->
    <div class="col-4">
      <img style="margin-left: 2.5rem; margin-right: auto;" src="\assets\img\fire-alarm.png" alt="Brand" width="520" height="520">
      <div >
        <h2 class="mat-display-1 audiowide-font ">GameClock</h2>
      </div>

      <form class="form-container">
        <mat-form-field class="form-field">
          <mat-label>Nombre Completo</mat-label>
          <input matInput placeholder="Nombre Completo">
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Usuario">
        </mat-form-field>


        <mat-form-field class="form-field">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Contraseña">
        </mat-form-field>



      </form>
      <button mat-button class="my-btn-end">Registrar</button>
      <p class="txtMorado">¿Olvisate el usuario o la contraseña?</p>
          <!-- Botón para Crear -->

    </div>

  </div>

</div>
