<main class="main">
  <div class="content">
  
    <div class="row">
      
      <div class="col-2">
        <br>        
        <img src="\assets\img\fire-alarm.png" alt="Brand" width="120" height="120">
      </div>

      <div class="col-2"></div>

      <div class="col-2">
        <br>
        <br>
        <h2 class="mat-display-1" style="text-align: center; background-color: blueviolet;">GameClock</h2>
      </div>

      <div class="col-2"></div>
      <div class="col-2"></div>


      <div class="col-1">
        <br>
        <br>
        <h2 class="mat-display-1" style="text-align: center; background-color: blueviolet; color: white;">2048</h2>
      </div>
      <div class="col-1"></div>
    </div>

    <h1 class="mat-display-1" style="text-align: center;">Próxima Alarmas</h1>  

    <mat-grid-list cols="5">
      
      <mat-grid-tile>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </mat-grid-tile>


      <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Próxima Alarma</mat-card-title>
                <mat-card-subtitle>9:45 AM</mat-card-subtitle>
                <mat-card-subtitle>02/03/2024</mat-card-subtitle>
            </mat-card-header>
          <mat-card-content>
            <p>
              Alarma: No olvides tomar tus medicamentos
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button>Posponer</button>
            <button mat-raised-button color="primary">Cancelar</button>
          </mat-card-actions>
        </mat-card> 
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
              <mat-card-title>Próxima Alarma</mat-card-title>
              <mat-card-subtitle>9:45 AM</mat-card-subtitle>
              <mat-card-subtitle>02/03/2024</mat-card-subtitle>
          </mat-card-header>
        <mat-card-content>
          <p>
            Alarma: No olvides tomar tus medicamentos
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>Posponer</button>
          <button mat-raised-button color="primary">Cancelar</button>
        </mat-card-actions>
      </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
              <mat-card-title>Próxima Alarma</mat-card-title>
              <mat-card-subtitle>9:45 AM</mat-card-subtitle>
              <mat-card-subtitle>02/03/2024</mat-card-subtitle>
          </mat-card-header>
        <mat-card-content>
          <p>
            Alarma: No olvides tomar tus medicamentos
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>Posponer</button>
          <button mat-raised-button color="primary">Cancelar</button>
        </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    

      <mat-grid-tile>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols="6">
      
      <mat-grid-tile> </mat-grid-tile>
      <mat-grid-tile> </mat-grid-tile>

      <mat-grid-tile> 
        <mat-card style="align-items: center; background-color: blueviolet;">
            <mat-card-header>
                <mat-card-title style="color: white;">Editar Alarma</mat-card-title>
            </mat-card-header>
          <mat-card-content>
            <button mat-icon-button aria-label="Example icon button with a home icon" style="color: white;">
              <mat-icon>list_alt</mat-icon>
            </button>
          </mat-card-content>  
        </mat-card>        
      </mat-grid-tile>
    
      

      <mat-grid-tile> 
        <mat-card style="align-items: center; background-color: blueviolet;">
            <mat-card-header>
                <mat-card-title style="color: white;">Crear Puzzles</mat-card-title>
            </mat-card-header>
          <mat-card-content>
            <button mat-icon-button aria-label="Example icon button with a home icon" style="color: white;">
              <mat-icon>videogame_asset</mat-icon>
            </button>
          </mat-card-content>  
        </mat-card>        
      </mat-grid-tile>
      
      <mat-grid-tile> </mat-grid-tile>
      <mat-grid-tile> </mat-grid-tile>


    </mat-grid-list>

  </div>
</main>