<div class="content">
  <div class="row">

    <div class="col-2" (click)="redirectToHome()">
      <br>
      <img src="\assets\img\fire-alarm.png" alt="Brand" width="120" height="120">
    </div>

    <div class="col-2"></div>

    <div class="col-4" (click)="redirectToHome()">
      <br>
      <br>
      <h2 class="mat-display-1 audiowide-font ">GameClock</h2>
    </div>

    <div class="col-2"></div>


    <div class="col-1">
        <h2 class="mat-display-1" style=" margin-top: 38px; text-align: center; background-color: #8B56E8; color: white; border-radius: 8px; height: 75px ">
        <p>puntaje:</p> 2048 </h2>
    </div>
  </div>

  <div class="content">
    <div class="row" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="80px">
      <!-- Columna 1: Logo y título -->
      <div class="col-4">

      </div>

      <!-- Columna 2: Botones -->
      <div class="col-4">
        <h1 style="text-align: center; font-size: 2.5rem;">Crear Puzzles</h1>
        <h3>Nombre</h3>
        <form class="form-container">
          <mat-form-field class="form-field">
            <mat-label>Nombre del Juego</mat-label>
            <input matInput placeholder="Nombre del puzzle">
          </mat-form-field>
          <h3>Tipo de Juego</h3>
          <mat-form-field class="form-field">
            <mat-label>Selecciona Tipo de Juego</mat-label>
            <mat-select placeholder="Seleccione el juego">
              <mat-option value="juego1">Matematicas </mat-option>
              <mat-option value="juego2">Rompecabezas</mat-option>
              <mat-option value="juego3">Escaner</mat-option>
              <mat-option value="juego4">Tetris</mat-option>
              <!-- Agrega más opciones según sea necesario -->
            </mat-select>
          </mat-form-field>
          <h3>Dififcultad</h3>
          <mat-form-field class="form-field">
            <mat-label>Selecciona La Dificultad</mat-label>
            <mat-select placeholder="Seleccione el juego">
              <mat-option value="Facil1">Facil</mat-option>
              <mat-option value="Norma2">Normal</mat-option>
              <mat-option value="Dificil3">Dificil</mat-option>
              <!-- Agrega más opciones según sea necesario -->
            </mat-select>
          </mat-form-field>
          <h3>Icono</h3>
          <mat-form-field class="form-field">
            <mat-label>Selecciona El Icono</mat-label>
            <mat-select placeholder="Seleccione el juego">
              <mat-option value="icon1"><mat-icon class="mat-icon2">calculate</mat-icon>icon 1</mat-option>
              <mat-option value="icon2"><mat-icon class="mat-icon2">extension</mat-icon>icon 2</mat-option>
              <mat-option value="icon3"><mat-icon class="mat-icon2">settings_overscan</mat-icon>icon 3</mat-option>
              <mat-option value="icon4"><mat-icon class="mat-icon2">sports_esports  </mat-icon>icon 4</mat-option>
              <!-- Agrega más opciones según sea necesario -->
            </mat-select>
          </mat-form-field>

          <mat-slide-toggle class="slide-toggle" color="primary">Registrar Puntuación</mat-slide-toggle>
        </form>
        <!-- Botón para Crear -->
        <button (click)="redirectToHome()" mat-button class="my-btn-end">Crear</button>
      </div>

    </div>

  </div>










</div>
