@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Raleway:wght@400;500&display=swap');

.my-custom-btn {
  background-color: #8B56E8; /* Cambiar color de fondo */
  color: white !important; /* Cambiar color del texto */
  border: none; /* Eliminar borde */
  border-radius: 44px; /* Agregar borde redondeado */
  padding: 10px 20px; /* Ajustar relleno */
  font-size: 16px; /* Cambiar tamaño de fuente */
  cursor: pointer; /* Cambiar cursor al pasar el mouse */
  text-align: center; /* Centrar texto */
  margin: 20px; /* Márgenes entre los botones */
  width: 550px; /* Ancho fijo para los botones */
  font-weight: bold; /* Grosor de la fuente */
  height: 50px; /* Altura deseada del botón */
}

.my-custom-btn:hover {
  background-color: #5C56E8; /* Cambiar color de fondo al pasar el mouse */
}

.my-btn-end {
  background-color: #8B56E8; /* Cambiar color de fondo */
  color: white !important; /* Cambiar color del texto */
  border: none; /* Eliminar borde */
  border-radius: 25px; /* Agregar borde redondeado */
  padding: 10px 20px; /* Ajustar relleno */
  font-size: 16px; /* Cambiar tamaño de fuente */
  cursor: pointer; /* Cambiar cursor al pasar el mouse */
  text-align: center; /* Centrar texto */
  margin-top: 30px; /* Márgenes entre los botones */
  margin-left: 13rem; /* Márgenes entre los botones */
  width: 180px; /* Ancho fijo para los botones */
  font-weight: bold; /* Grosor de la fuente */
  height: 50px; /* Altura deseada del botón */
}

.my-btn-end:hover {
  background-color: #5C56E8; /* Cambiar color de fondo al pasar el mouse */
}
.mat-icon1 {
  color: rgb(255, 255, 255); /* Cambiar el color del icono a rojo */
  font-size: 24px; /* Cambiar el tamaño del icono */
}

.mat-icon2 {
  color: #8B56E8; /* Cambiar el color del icono a rojo */
}
.box {
  border: 2px solid #fdfcff; /* Borde sólido de 2px de ancho */
  background-color: #8B56E8; /* Cambiar color de fondo */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px; /* Espacio interior */
  margin-bottom: 20px; /* Margen inferior para separar los recuadros */
}
.form-container {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 20px;
}

.slide-toggle {
  margin-top: 20px;


}


.score-ranking-container {
  display: flex;
}
.title {
  text-align: center;
  margin-top: 10px; /* Espacio entre el título y el contenedor */
}
.box1 {
  border: 2px solid #0a0a0a;
  background-color: #8B56E8; /* Cambiar color de fondo al pasar el mouse */
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}
.score-ranking-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide el contenedor en dos columnas iguales */
  gap: 20px; /* Espacio entre los elementos */
}
.audiowide-font {
  font-family: 'Audiowide', sans-serif; /* Asegúrate de que el nombre de la fuente coincida con la que importaste */
  background-color: #8B56E8; /* Cambiar color de fondo */
  border: none; /* Eliminar borde */
  border-radius: 10px; /* Agregar borde redondeado */
  padding: 10px 20px; /* Ajustar relleno */
  font-size: 28px; /* Cambiar tamaño de fuente */
  cursor: pointer; /* Cambiar cursor al pasar el mouse */
  text-align: center; /* Centrar texto */
  margin: 20px; /* Márgenes entre los botones */
  width: 550px; /* Ancho fijo para los botones */
  font-weight: bold; /* Grosor de la fuente */
  height: 50px; /* Altura deseada del botón */
}

.content{
  background-color:#EFEAFF ;
}
